.squareselect{
    width:230px;
    height:50px;
    border:1px solid gray;
    .ant-select-selection-search{
        border-radius: none !important;
    }
    .ant-select-selector{
        border:none !important;
        margin-top:14px !important;
        color:black;
        background: none !important;
    }
    .ant-select-arrow{margin-top:1px;}
}

.rect-select{
    width:150px;
    border:1px solid gray;
    .ant-select-selection-search{
        border-radius: none !important;
    }
    .ant-select-selector{
        border:none !important;
        color:black;
        background: none !important;
    }
}

.btn-rect{
    border-radius: 0;
    border:1px solid gray;
}
.label-squareselect{
    position: absolute;    
    top: 4px;
    left: 12px;
    color: gray;
}